<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="해당 패키지명 입력">
    <!-- 등록일,수정일은 화면에서 전달하는게 아니니 고정하고 나머지 컬럼들은 map에서 가져옴 -->
    <insert id="insertBoard" parameterType="hashmap">
        INSERT INTO t_board
        (
        <foreach collection="column" item="column" separator=",">
            ${column}
        </foreach>
        , reg_date
        , update_date
        )
        VALUES
        (
        <foreach collection="column_value" item="column_value" separator=",">
            #{column_value}
        </foreach>
        , now()
        , now()
        )
    </insert>

    <!-- 컬럼과 테이블명을 prameter로 받아서 세팅 -->
    <select id="findMember" resultType="hashMap" parameterType="hashMap">
        SELECT
        <foreach collection="column" index="index" item="column" separator=",">
            ${column}
        </foreach>
        FROM ${tableName}
    </select>


</mapper>