<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <main>
        <form id="frm" action="/login" method="post">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="userId" name="userId" type="id" placeholder="name@example.com" />
                                            <label for="inputEmail">ID</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="userPassword" name="userPassword" type="password" placeholder="Password" />
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Forgot Password?</a>
<!--                                            <button type="submit" class="btn btn-success">Login</button>-->
                                            <button type="button" id="loginBtn" class="btn btn-success">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a th:href="@{/register}">회원가입</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </main>
</div>


    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        $(document).ready(function () {

            /* 로그인 ajax */
            $("#loginBtn").on("click", function () {
                $.ajax({
                    url : '/login',
                    type : 'post',
                    dataType : 'json',
                    data : $("#frm").serialize(),
                    success: function (result) {
                        if(result === 1)
                        window.location = "/";
                    },
                    error: function (request, status, error) {
                        alert("로그인 실패했어. 아이디와 패스워드를 확인하렴");
                        console.log(error);
                        window.location = "/login";
                    }
                });
            });

        });
    </script>

</html>